<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Tweets</title>
    <th:block th:replace="fragments/head"/>
</head>
<body>
    <div class="container">
    <!--  Inserts navbar -->
    <div th:replace="fragments/navbar"></div>
    
    <ul class="nav nav-tabs">
    	<!--  Display all tweets; classappend filters all (? = if this is true ? evaluate to this) -->
    	<!--  See tweets feed; ?filter=following in URL bar when switching to following -->
    	<li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
        	<a href="/tweets">All</a></li>
        <!--  Display following tweets -->
    	<li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
        	<a href="/tweets?filter=following">Following</a></li>
	</ul><br/>
    	
    	<div th:if="${not #lists.isEmpty(tweetList)}">
			<h2>Tweets</h2> 
		</div>
		
		    <!-- tweetFeed fragment -->
	<th:block th:replace="fragments/tweetFeed"/>
<!--     	<div th:each="tweet:${usersFollowing}"> ??? -->
<!--     	<div th:each="tweet:${tweetList}"> -->
<!--             <h5>@<span th:text="${tweet.user.username}"></span> -->
<!--             	<small th:text="${tweet.date}"></small> -->
<!--             </h5> -->
<!--             <p th:utext="${tweet.message}"></p> -->
<!--     	</div> -->
    	
    	<div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
    		<h3>No tweets have been created yet</h3>
		</div>
		<div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
    		<h3>No tweets have been created by your followers</h3>
		</div>

    </div>
</body>
</html>